* {
  box-sizing: border-box;
}

.container {
    background-color: white;
    font-family: courier new;
    width:100%;
    height: 100vh;
    position: relative;
    margin: 0% 0% 0% 0%;
  }
  
  #page {
    position: relative;
    width: 55%;
    background-color: #e3edd8;
    font-family: courier new;
    padding: 0% 0% 10% 0%;
    margin: 0 auto 10px auto;
    padding: 30px;
  }

  .grid-1 {
    display: grid;
    grid-template-areas: 
    "left-panel right-panel";
      grid-template-columns:  8% 100% ;
}

.left-panel {
    grid-area: left-panel;
}

.right-panel {
    grid-area: right-panel;
}
  
  #navbar {
    list-style-type: none;
    margin: 0% 0% 0% 10%;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    border: 1px solid #555;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    flex-wrap: wrap;
  }
  
  .info{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    }

  #questionnaire {
    display: block;
    margin: 10% 3% 6% 0%;
    font-size: 20px;
    text-align: center;
    border-color: #b2d2a4;
    border-width: 10px;
    font-style: italic;
    font-weight: bold;
    line-height: 0.6;
  }
  

  #photo {
    margin: 12% 0% 6% 5%;
    width: 175px;
    height: 225px;
  }
  
  h1 {
    text-align: center;
    font-size: 27px;
    margin: 0% 0% 10% 0%;
    font-style: italic;
  }
  
  a:hover {
    font-weight: lighter;
    color: brown;
  }
  
  h3 {
    padding: 0% 0% 0% 3%;
    font-size: 23px;
    font-style: italic;
    margin: 1% 0% 1% 0%;
  }
  
  .paragraph,
  ul {
    padding: 0% 12% 0% 12%;
    font-size: 20px;
    text-align: justify;
    line-height: 1.4;
  }
  
  #name {
    font-size: 35px;
    line-height: 0.9;
  }
  
  .subtitle {
    border-width: 5px;
    border-color: #b2d2a4;
    margin: 1% 10% 1% 10%;
    padding: 1% 0% 1% 3%;
    font-style: italic;
    font-size: 1.17em;
    font-weight: bold;
  }
  
  .description {
    text-decoration: underline;
  }
  
  li .cat-list {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
   
  li .cat-list:hover {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
  }
  
  .active1 {
    border-bottom: 1px solid #555;
  }
  
  .slide-container {
    position: relative;
    margin: 0px 18px 20px 20px;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  img {
    vertical-align: middle;
  }
  
  .cursor {
    cursor: pointer;
  }
   
   .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 60%;
    left: 50%;
    margin-left: 60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
   
  .tooltip .tooltiptext ::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } 



  @media screen and (max-width:768px) {
    * {
      margin: 1px 0px 0px 0.5px;
    }
    .container {
      margin: 0px;
      padding: 0px;
    }
    #page {
      position: relative;
      width: 81%;
      padding: 0% 0% 10% 0%;
      margin-left: 48px;
    }
    #navbar {
      margin: 0px;
      padding: 0px;
      width: 20%;
      font-size: 12px;
      font-weight: bold;
      position: fixed;
    }

    li .cat-list {
      display: block;
      color: #000;
      padding: 7px 0px 5px 4px;
    }

    #questionnaire {
      display: block;
      margin: 5% 0% 2% 0%;
      font-size: 13px;
      border-width: 5px;
      line-height: 0.9;
      padding: 10px;
    }
    
    #photo {
      margin: 5% 0% 6% 5%;
      width: 100px;
      height: 130px;
    }
    #name {
      font-size: 20px;
      line-height: 2;
    }

    .container-free {
      padding: 3% 0% 0% 3%;
    }

    .subtitle {
      border-width: 4px;
      margin: 1px 20px 1px 10px;
      padding: 1% 0% 1% 3%;
    }
    h3 {
      font-size: 15px;
    }
    h1 {
      font-size: 20px;
    }
    .paragraph
 {
    padding: 4% 8% 4% 5%;
    font-size: 15px;
  }
  ul {
    padding: 0% 5% 0% 10%;
    font-size: 15px;
  }
  .grid-1 {
    display: grid;
    grid-template-areas: 
    "left-panel right-panel";
      grid-template-columns:  12% 100% ;
}
  }
 